Repository blakeNaccarato/propshop: changes, and which pre-commit hooks are due for each by the changed paths.
All: compose-pyproject, pyright, pytest-fast-only, pytest-slow-only

Path conditions:
  compose-pyproject: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/pyproject.toml
)$

  pyright: any of: (?x)^(
  src/.*
  |tests/.*
  |pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  pytest-slow-only: any of: (?x)^(
  src/.*
  |tests/.*
)$


Update configs.py for pydantic v2
  src/propshop/configs.py
Due: pyright, pytest-slow-only

Bump pydantic
  pyproject.toml
Due: compose-pyproject, pyright, pytest-fast-only

Move submodules
  .gitmodules
Due: none

Prepare template using blakeNaccarato/copier-python
  .copier-answers.yml
  .env
  .gitattributes
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/minimum.yml
  .github/workflows/release.yml
  .github/workflows/sphinx.yml
  .gitignore
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  .root
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
  .tools/requirements/requirements_nodeps.txt
  .tools/scripts/Copy-Template.ps1
  .tools/scripts/Invoke-Pyright.ps1
  .tools/scripts/core_update.py
  .tools/scripts/pythonstartup.py
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CHANGELOG.md
  README.md
  pyproject.toml
  pytest.ini
  renovate.json
  setup.ps1
  src/propshop/__init__.py
  tests/propshop_tests/__init__.py
  tests/propshop_tests/test_propshop.py
  tests/pyproject.toml
  update.ps1
Due: compose-pyproject, pyright, pytest-fast-only, pytest-slow-only

Add template and type stub submodules
  .gitmodules
Due: none

Undo change to __init__.py
  src/propshop/__init__.py
Due: pyright, pytest-slow-only

Bump to 3.11
  .copier-answers.yml
  .github/workflows/main.yml
  .github/workflows/minimum.yml
  .github/workflows/release.yml
  .github/workflows/sphinx.yml
  .sourcery.yaml
  pyproject.toml
  setup.ps1
Due: compose-pyproject, pyright, pytest-fast-only

Add dependencies back in
  pyproject.toml
  requirements.txt
Due: compose-pyproject, pyright, pytest-fast-only

Release 0.1.2
  .copier-answers.yml
  CHANGELOG.md
  docs/conf.py
  pyproject.toml
Due: compose-pyproject, pyright, pytest-fast-only

Update project from template
  .markdownlint.yaml
  .nest_md
  .nest_tools_config
  .tools/pyproject.toml
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_project.txt
  .tools/scripts/compose_pyproject.py
  .tools/scripts/pythonstartup.py
  .tools/scripts/template_common.ps1
  pyproject.toml
  pyrightconfig.json
  pytest_local.ini
  pythonrc.py
  requirements.txt
  src/propshop/__init__.py
  src/propshop/api.py
Due: compose-pyproject, pyright, pytest-fast-only, pytest-slow-only

Release 0.1.3
  .copier-answers.yml
  CHANGELOG.md
  docs/conf.py
  pyproject.toml
Due: compose-pyproject, pyright, pytest-fast-only

Bump workflow
  .github/workflows/publish.yml
Due: none
